### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Locally stored "Eclipse launch configurations"
*.launch